@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.pClass {
 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.sanFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.smallText {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#johnID {

  clip-path: circle();
}

.Square {


  background: #0b273b;
  background: linear-gradient(90deg,rgba(11, 39, 59, 1) 12%, rgba(48, 132, 150, 1) 49%, rgba(11, 39, 59, 1) 100%); 
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0px;
  right: 0;
 
}

.aboutContainer {
  display: flex;
  align-items: center;
  margin-top: 10vh;
 
}

#johnID{
  width: 25vw;
  height: auto;
  margin-left: 12vw;
}




.mainTitleClass{

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

#formID{
  position: absolute;
  top: 57.5%;
  left: 60%;

}

textarea {
  resize: none;
}

#contactImage{

    position: absolute;
    height: 25%;
    width: 100%;
    top: 15%;
    right:0%;
    object-fit: cover;
  }

#emailTest{
  position: absolute;
  left: 50%;
  top: 70%;
  width: 5%;
  height: auto;
  
}

#or{

  position: absolute;
  top: 70%;
  left: 40%;

}

.contactContent{

  position: absolute;
  left: 10%;
  top: 55%;
}


.outer{
  display: flex;
  align-items: center;
  flex-direction: column;    /* align tops (use center or flex-end if needed) */
  gap: 20px;  
}

.pClass {
  align-self: flex-start;     /* align text to the left edge of the image row */
  width: 100%;                /* match the image row width */
  max-width: 600px;           /* same as image row */
  margin-top: 10vh;
             
}

body{
  background-image: url(https://t3.ftcdn.net/jpg/06/82/34/44/360_F_682344419_JNy3opcX9c6zpn0p7OJ0QtMbeaFYfKAH.jpg);
  overflow: hidden;
}


@media screen and (orientation: portrait) {
  .imgContainer {
    margin-top: 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-bottom: -15%;
  }

  #or{

  position: absolute;
  top: 66%;
  left: 50%;
  font-size: 200%;
 

}

#emailTest{
  position: absolute;
  left: 50%;
  top: 69%;
  width: 5%;
  height: auto;
  
}


  #formID{
    
    position: absolute;
    top: 72%;
    left: 32%;
    font-size: 60%;
   
    

  }

  

  .contactContent{

    position: absolute;
    left: 32%;
    top: 45%;
   
    font-size: 60%;
    
  }

  #firstImage{
    width: 95%;

  }

  #carImage2{

    width: 45%;
  
  } 

  #carImage3{

    width: 45%;
    
  }

  #indexMobileContainer{

    display: flex;
  
    align-items: center;
    justify-content: center;

  }

  #fullInfoText{

    font-size: 200%;
    transform: (-50%,-50%);
    
  }


  .outerInfoCon{
  display: flex;
  align-items: center;
  margin-top: 6%;
}

  

  .mainTitleClass{

    font-size: 300%;

  }

 

  .smallText{

    font-size: 200%;
  }

  .aboutContainer {
  display: flex;
 
  margin-top: 10vh;
 
}

  #johnID {
    position: absolute;
    top: 15%;
    left: 45%;
  
    transform: translate(-65%, 0%); 
    height: auto;
    width: 50%;

  }


  .seperate{

   position: absolute;
   top: 90%;
  }

} /* end of mobile changes */



@media screen and (orientation: landscape) {
  .imgContainer {
  
  display: flex;
  gap: 40px;
  justify-content: center;

}

}




#featuredCar { 

  text-align: center;
  margin-top: 8vw;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}


.infoImgDiv{
  transform: translate(-50%, -50%) ;
}
#infoIcon {
  transform: translate(0, 50%) ;
  width: 3vw;
  height: auto;

}



#StickyHeading, #StickyHeadingTwo {

  /* Acts like relative until scrolling past its top value, then it sticks */
  margin: 0 auto;
  z-index: 2;
  color: rgb(255, 255, 255);
  transform: translate(0, 0);
  position: absolute;
  top: 3.25%;
  left: 0;

}

/* background: #0b273b;
  background: linear-gradient(90deg,rgba(11, 39, 59, 1) 12%, rgba(48, 132, 150, 1) 49%, rgba(11, 39, 59, 1) 100%); */



.headingOuterContainer{

  display: flex;
  align-items: center;
  gap: 0;
  
}

#linkOne, #linkCon {
  z-index: 5;
  position: absolute;
  top: 4%;
  left: 80%;
  font-size: 30px;
  
  color: rgb(255, 255, 255);


}

#linkTwo, #linkConTwo {
  z-index: 5;
  left: 90%;
  top: 4%;
  position: absolute;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

#linkThree {
  z-index: 5;
  left: 70%;
  top: 4%;
  position: absolute;
  font-size: 30px;
  color: rgb(255, 255, 255);

}


.outerInfoCon{
  display: flex;
  align-items: center;
}



.subtitle {

  text-align: center;

  font-size: 1.1em;

  color: #b5d9e0;

}

img {

  border-radius: 10px;
  
}

.price {

  color: #ffffff;

  font-size: 1.8em;

}







.description {

  color: #e8f2f4;

}

.links {

  text-align: center;

}


